html{
	box-sizing: border-box;
}

*,
*::after,
*::before{
	box-sizing: inherit;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}

body{
	
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #181818;
}

.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

/* header styles start */
.header{
	background: #332208;
}
.header__wrapeer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.menu__list{
	display: flex;
}
.mune__item:not(:last-child){
	margin-right: 30px;
}

.mune__item-link{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 21px;
	color: #fefefe;
	padding-bottom: 5px;
	transition: all .5s;
	border-bottom: 1px solid transparent;
}

.mune__item-link:hover{
	border-bottom: 1px solid  #fefefe;
}
.phone{
	font-size: 18px;
	line-height: 21px;
	color: #fefefe;
}
/* header styles end */

/* section top styles start */
.top {
}
.container {
}
.top__heading {
	display: flex;
	padding: 50px 0 30px;
}

.top__content {
	text-align: center;
	padding-top: 90px;
	width: 50%;
}

.top__title {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 58px;
	margin: 0 auto 20px;
	max-width: 455px;
}

.top__text {
	font-size: 24px;
	line-height: 28px;
	margin: 0 auto 60px;
	max-width: 470px;
}
.aplication-btn {
	display: inline-block;
	padding: 16px 19px 15px;
	text-transform: uppercase;
	background: #C5AC2D;
	color: #FEFEFE;
	transition: all .5s;
	border: 1px solid transparent;
}

.aplication-btn:hover{
	background:#FEFEFE;
	color: #C5AC2D;
	border: 1px solid #C5AC2D;
}
.top__slider {
	width: 50%;
}
.click-dots{
	list-style: none;
}

.click-dots button{
	font-size: 0;
}

.top__slider-item {
}
.top__slider-img {
}
.top__slider-text {
}
.top__bottom {
}
.top__items {
}
.top__item {
}
.top__item-img {
}
.top__item-text {
}
.top__link {
}
/* section top styles end */